<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/add.css"/>
</head>
<body>
<div id="app">
    <div class="header">
        <span>修改快递员</span>
    </div>
    <div class="content">
        <table>
            <tr>
                <td class="text-right">手机号码</td>
                <td class="content_right"><input id="phone" class="input inline-input" placeholder="请输入手机号码">
                    <span id="find" class="btn btn-info">立即查找</span></td>
            </tr>
        </table>
    </div>


    <div class="header">
        <span>查找信息如下</span>
    </div>
    <div class="content">
        <table>
            <tr>
                <td class="text-right">姓名</td>
                <td class="content_right"><input class="input" placeholder="请输入姓名"></td>
            </tr>
            <tr>
                <td class="text-right">手机号码</td>
                <td class="content_right"><input class="input" placeholder="请输入手机号码"></td>
            </tr>
            <tr>
                <td class="text-right">身份证号码</td>
                <td class="content_right"><input class="input" placeholder="请输入身份证号码"></td>
            </tr>
            <tr>
                <td class="text-right">密码</td>
                <td class="content_right"><input class="input" placeholder="请输入密码"></td>
            </tr>
            <tr>
                <td></td>
                <td class="content_right"><span class="btn btn-info">立即修改</span></td>
            </tr>
        </table>
    </div>
</div>
<script src="/qrcode/jquery2.1.4.js"></script>
<script src="/layer/layer.js"></script>
<script>
    $(".header:eq(1),.content:eq(1)").hide();
    var expressId = null;
    $(function () {
        $("#find").click(function () {
            var windowId = layer.load();
            var phone = $("#phone").val();
            $.getJSON("/admin/findByPhone.udo", {phone: phone}, function (data) {
                layer.close(windowId);
                layer.msg(data.result);
                if (data.status == 0) {
                    $(".header:eq(1),.content:eq(1)").fadeIn(1000);
                    expressId = data.data.id;
                    g_userPhone = data.data.userPhone;
                    $("input:eq(1)").val(data.data.userName);
                    $("input:eq(2)").val(data.data.userPhone);
                    $("input:eq(3)").val(data.data.number);
                    $("input:eq(4)").val(data.data.password);
                }
            });
        });

    });
</script>
</body>
</html>
