body{
	background: #f5f6f7;
	padding: 20px;
	font-size: 14px;
}
.layui-layer-content{
	color:#fff;
}
#app{
	
	background: #FFFFFF;
	box-shadow: 0px 0px 2px 2px #eee;
	border-radius: 3px;
}
.header{
	height:40px;
	line-height: 40px;
	border-bottom: 1px solid #eee;
	padding-left: 20px;
}
.content>table{
	width:100%;
}
.text-right{
	text-align: right;
	width: 15%;
	padding:10px 2%;
}
.content_right{
	width: 80%;
	
}
.input{
	height:38px;
	line-height: 38px;
	padding-left: 10px;
	border-radius: 3px;
	border: 1px solid #e5e6e7;
	width:90%;
}
.content td{
	height:38px;
	line-height: 38px;
}
.content td,.content input{
	vertical-align: middle;
}
.btn-info{
	background: #2299ee;
	color:#fff;
}
.btn{
	display: inline-block;
	height:20px;
	line-height: 20px;
	padding: 9px 20px;
	border:1px solid #ccc;
	border-radius: 3px;
	margin-right: 10px;
}
.content{
	padding-bottom: 30px;
}
.inline-input{
	width: auto;
}